@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,400;0,600;1,300;1,400&display=swap');
:root {
    --StrongCyan: hsl(171, 66%, 44%);
    --LightBlue: hsl(233, 100%, 69%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-size: 14px;
    font-family: 'Bai Jamjuree', sans-serif;
    max-width: 100%;
    background-color: #b0c4de;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    background-color: #191970;
    border-bottom: 12px solid #000;
}

ul li {
    display: inline-block;
    padding-left: 25px;
}

li a {
    color: #fff;
    font-weight: 600;
    font-size: 15px;
}

li a:hover {
    text-decoration: underline;
    cursor: pointer;
    color: #f2b2bd;
}

.logo-name a {
    background-color: #fff;
    padding: 4px 10px;
    border-radius: 20px;
    color: var(--LightBlue);
    color: #000;
    font-size: 16px;
    font-weight: 600;
}

.logo-name a:hover {
    background-color: ;
}

section {
    display: flex;
    justify-content: space-between;
    margin: 130px 60px 0 50px;
    align-items: center;
    padding: 0 150px 0 120px;
}

.home-content {
    padding-left: 40px;
}

.homepage-img img {
    width: 350px;
    margin-left: 50px;
    border-radius: 50%;
}

.home-para {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 8px;
}

.home-content h2 {
    color: hsl(0, 87%, 47%);
    font-weight: 700;
    margin-bottom: 15px;
}

.home-content h3 {
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: 700;
}

.home-content span {
    color: hsl(0, 87%, 47%);
}

.para-home {
    margin: 0 100px 0 0;
    line-height: 1.5;
    font-size: 17px;
    margin-bottom: 10px;
}

p a {
    color: hsl(0, 87%, 47%);
    text-decoration: underline;
    font-weight: 700;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #000;
}

.section-two {
    margin-top: 35px;
    margin-bottom: 10px;
}

.set-skill {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
}

.skillset {
    background: linear-gradient(to right, hsl(176, 68%, 64%), hsl(231, 60%, 50%));
    box-shadow: -1px 13px 17px 0px rgb(0, 0, 0, .2);
    color: #fff;
    border-radius: 20px;
    box-shadow: ;
}

.skillset p {
    padding: 15px;
    text-align: center;
}